@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/Poppins-Regular.otf');
}
@font-face {
    font-family: Poppins-bold;
    src: url('../fonts/Poppins-Bold.otf');
}


html,body{
/*background-image:url('');*/
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: Poppins-Regular,sans-serif;

}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
font-family:sans-serif ;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
text-align: center;
font-family: Poppins-Regular,sans-serif;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #4169E1;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
font-family: Poppins-Regular,sans-serif;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;

}
.form-control{
    font-family: Poppins-Regular,sans-serif;
}
.box{
   text-align: center;
   font-family: Poppins-Regular,sans-serif;
}

.text{
    color:  white;
}
.text2{
    color:	#252424;
}
.login_btn{
color: black;
background-color: #4169E1;
width: 100px;
font-family: Poppins-Regular,sans-serif;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}